body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.slider {
  max-width: 100%;
  height: 100vh;
  font-size: 6rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider1,
.slider2,
.slider3 {
  background-repeat: no-repeat;
  background-position: center;
}

.slider1 {
  background-image: url("images/image1.jpeg");
}

.slider2 {
  background-image: url("images/image2.jpeg");
}

.slider3 {
  background-image: url("images/image3.jpeg");
}

.image-title {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.arrow {
  position: absolute;
  top: 50%;
  margin: -35px 1rem 1rem 1rem;
  color: aliceblue;
  font-size: 3rem;
  cursor: pointer;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  opacity: 0.5;
  transition: opacity 0.25s ease-out;
}

.arrow:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

#arrow-left {
  left: 0;
}

#arrow-right {
  right: 0;
}
